<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOW BOOK</title>
</head>
<body>
    <hr>
    <h2 th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}"></h2>

    <div th:if="${!book.isHaveReader()}">
        <p>Эта книга свободна. Кому назначить ее?</p>
        <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
            <label for="person">Выберите человека </label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
            </select>
            <input type="submit" value="Назначить книгу">
        </form>
        <hr>
    </div>

    <div th:if="${book.isHaveReader()}">
        <p th:text="${'Книга сейчас у: ' + book.getPerson().getFullName()}"></p>
        <form th:method="GET" th:action="@{/books/{id}/free(id=${book.getId()})}">
            <input type="submit" value="Освободить книгу"/>
        </form>
        <hr>
    </div>
    <br>

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>
    <br>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
    <br>

    <form th:method="GET" th:action="@{/books}">
        <input type="submit" value="Вернуться к общему списку книг"/>
    </form>
</body>
</html>