<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL PEOPLE</title>
</head>
<body>
    <div th:each="person : ${people}">
        <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFullName() + ', ' + person.getDateOfBirth()}">person</a>
    </div>
    <br>
    <br>
    <hr>
    <a th:href="@{/people/new}">Добавить человека</a>
    <br>
    <br>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</body>
</html>